@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 270 100% 50%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: 'Paperlogy', sans-serif;
  }
}

@font-face {
  font-family: 'Paperlogy';
  src: url('/styles/fonts/Paperlogy-1Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Paperlogy';
  src: url('/styles/fonts/Paperlogy-2ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Paperlogy';
  src: url('/styles/fonts/Paperlogy-3Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Paperlogy';
  src: url('/styles/fonts/Paperlogy-4Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Paperlogy';
  src: url('/styles/fonts/Paperlogy-5Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Paperlogy';
  src: url('/styles/fonts/Paperlogy-6SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Paperlogy';
  src: url('/styles/fonts/Paperlogy-7Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Paperlogy';
  src: url('/styles/fonts/Paperlogy-8ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Paperlogy';
  src: url('/styles/fonts/Paperlogy-9Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

.font-paperlogy-thin {
  font-family: 'Paperlogy', sans-serif;
  font-weight: 100;
}

.font-paperlogy-extralight {
  font-family: 'Paperlogy', sans-serif;
  font-weight: 200;
}

.font-paperlogy-light {
  font-family: 'Paperlogy', sans-serif;
  font-weight: 300;
}

.font-paperlogy-regular {
  font-family: 'Paperlogy', sans-serif;
  font-weight: 400;
}

.font-paperlogy-medium {
  font-family: 'Paperlogy', sans-serif;
  font-weight: 500;
}

.font-paperlogy-semibold {
  font-family: 'Paperlogy', sans-serif;
  font-weight: 600;
}

.font-paperlogy-bold {
  font-family: 'Paperlogy', sans-serif;
  font-weight: 700;
}

.font-paperlogy-extrabold {
  font-family: 'Paperlogy', sans-serif;
  font-weight: 800;
}

.font-paperlogy-black {
  font-family: 'Paperlogy', sans-serif;
  font-weight: 900;
} 